.next-appointment-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem 0.95rem;
  background-color: rgb(228, 226, 250);
  box-shadow: 0 0 2px 1px rgb(211, 230, 255);
  border-radius: 1.75rem;
  flex: 1 0 0;
  box-shadow: 0 0 2px 0px rgb(197, 192, 255);
}

.next-appointment-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.next-appointment-card-header-title {
  color: rgb(0, 0, 90);
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
}

.next-appointment-card-header-img {
  height: 1.25rem;
  width: 1.25rem;
  mix-blend-mode: multiply;
}

.next-appointment-card-body {
  color: rgb(0, 0, 137);
  font-size: 0.75rem;
}

.next-appointment-card-footer {
  color: rgb(0, 0, 137);
  font-size: 0.75rem;
}

/* 
  Device = Tablets, Ipads (portrait)
  Screen = 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .next-appointment-card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.75rem 0.95rem;
    background-color: rgb(228, 226, 250);
    box-shadow: 0 0 2px 1px rgb(211, 230, 255);
    border-radius: 1.75rem;
    flex: 1 0 0;
    box-shadow: 0 0 2px 0px rgb(197, 192, 255);
  }

  .next-appointment-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
  }

  .next-appointment-card-header-title {
    color: rgb(0, 0, 90);
    font-size: 0.95rem;
    font-weight: 600;
    display: flex;
  }

  .next-appointment-card-header-img {
    height: 1.25rem;
    width: 1.25rem;
    mix-blend-mode: multiply;
  }

  .next-appointment-card-body {
    color: rgb(0, 0, 137);
    font-size: 0.85rem;
  }

  .next-appointment-card-footer {
    color: rgb(0, 0, 137);
    font-size: 0.85rem;
  }
}

/* 
  Device = Low Resolution Tablets / Mobiles (Portrait)
  Screen = 320px to 479px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .next-appointment-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
    padding: 0.75rem 0.95rem;
    background-color: rgb(228, 226, 250);
    box-shadow: 0 0 2px 1px rgb(211, 230, 255);
    border-radius: 1.75rem;
    box-shadow: 0 0 2px 0px rgb(197, 192, 255);
  }

  .next-appointment-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
  }

  .next-appointment-card-header-title {
    color: rgb(0, 0, 90);
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
  }

  .next-appointment-card-header-img {
    height: 1.25rem;
    width: 1.25rem;
    mix-blend-mode: multiply;
  }

  .next-appointment-card-body {
    color: rgb(0, 0, 137);
    font-size: 0.7rem;
  }

  .next-appointment-card-footer {
    color: rgb(0, 0, 137);
    font-size: 0.7rem;
  }
}

/* 
  Device = Smartphones / Mobiles (Portrait)
  Screen = 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .next-appointment-card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.75rem 0.95rem;
    background-color: rgb(228, 226, 250);
    box-shadow: 0 0 2px 1px rgb(211, 230, 255);
    border-radius: 1.75rem;
    flex: 1 0 0;
    box-shadow: 0 0 2px 0px rgb(197, 192, 255);
  }

  .next-appointment-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
  }

  .next-appointment-card-header-title {
    color: rgb(0, 0, 90);
    font-size: 0.65rem;
    font-weight: 600;
    display: flex;
  }

  .next-appointment-card-header-img {
    height: 1rem;
    width: 1.25rem;
    mix-blend-mode: multiply;
  }

  .next-appointment-card-body {
    color: rgb(0, 0, 137);
    font-size: 0.65rem;
  }

  .next-appointment-card-footer {
    color: rgb(0, 0, 137);
    font-size: 0.65rem;
  }
}
